.forgot-password-background {
    background-image: url('../../../public/bi.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.forgot-password-container {
    max-width: 400px; 
    width: 100%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ForgotPassword-h2 {
    text-align: center;
    color: black;
}

.ForgotPassword-form {
    display: flex;
    flex-direction: column;
}

.forgotpassword-label {
    margin-bottom: 5px;
    font-weight: 550;
    color: black; 
}

.forgotpassword-input {
    padding: 10px;
    width: 95%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgotpassword-input[type="email"]::placeholder {
    color: #999; 
}

.forgotpassword-error {
    color: red;
    font-size: 12px;
}

.forgotpassword-success {
    color: green;
    font-size: 12px;
}

.forgotpassword-submit-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 99, 227); 
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.forgotpassword-submit-button:hover {
    background-color: rgb(41, 41, 192); 
}
